<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script 
    src="http://code.jquery.com/jquery-3.3.1.min.js" 
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" 
    crossorigin="anonymous">
  </script>
  <title>Hack the Job</title>
</head>
<body>
  <div> <h1>
   Valgrind my Mind team
  </h1></div>
<div>
 <p> Seeing now how to connect the music app, {{app}}. Your results are from {{result}} </p>
</div>

<form action="/music-app/">
  <h3>Welcome to Hack the Job!</h3>
    <button type="submit" class="btn btn-primary" ><a href=/htj/music-app/>BEGIN</button>
    <!-- onclick="run_musicapp()" -->
    <!-- from: https://stackoverflow.com/questions/55568844/run-python-script-with-a-button-from-my-website 
    <script>
      function run_musicapp(){
          $.ajax({
            type: 'POST',
            url: "/musicapp.py",
            dataType: "text",
            success: function (data) {
              alert(data)
            },
            error: function (data) {
              alert(data)
            }
          });
      }
  </script>
  -->
  </form>
</body>
</html>